@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZT+Nature:ital,wght@0,400;0,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,500&display=swap");

body {
  margin: 0;
  line-height: normal;
  font-family: var(--font-jost), "Jost", system-ui, sans-serif;
}
